# 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
 *
&#39;hello&#39;
-87.8
-
/
+
6


ans:: here (*,-,/,+) these mathematical operators comes under expression
      and ("hello",-87.8,6) these are string,float,integer so these comes under values

# 2. What is the difference between string and variable?

ans:: varible is any keyword that used to store the data given by user.   
      string is a datatype which is written in double cotes.it is collection of alphabets and other charecters
      
     eg::
         name=str(sai)or "sai"
         
         here name is variable and "sai"or str(sai) are string

# 3. Describe three different data types.

ans::
     1,integer(int)
     2,string(str)
     3,floats(float)
    
    integer(int):: integer data type is writtten as int().by using this data type we can asign only numbers and it is immutable.
     eg: age=95 or int(95)
    string(str):: string data type is written as str().by using this data type we can asign charectes,nubers in double coteare concider as string and it is immutable.
     eg:  name=str(sai)or "sai"
    floats(float):: all decimal numbers are concider as floating numbers and it is immutable.
     eg: grade= 85.5

# 4. What is an expression made up of? What do all expressions do?

ans:: an exprssion is made up of variables,opeators,numbers.
        the expressions evaluvated  as per require of its operaters

# 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

ans:: here expression is evaluvate in a single value but statement does not evaluvate because stament is a standalone so it does not.
      but expression is a combination of operators ,numbers,variables so it is interpreted and compiled to creat a new value

# 6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

ans:: the bacon remains its value 22

# 7. What should the values of the following two terms be?
"spam" + "spamspam"
"spam" * 3

ans::'spamspamspam'

# 8. Why is eggs a valid variable name while 100 is invalid?

ans:: variables cannot starts with intrgers it starts only with charecters so eggs is a valid varible 100 is invalid

# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

ans:: integer::int(),floating point::float(),string::str()

# 10. Why does this expression cause an error? How can you fix it?
"I have eaten"  + 99 +" burritos."

ans:: in this expression we tried to concatenate string with number so it showes error because string concatenate only with other string. if we change code

"I have eaten" + str(99) + "burritos."